<div class="meadow">
  <span class="name"><%= meadow.name %></span>
  <span class="description"><%= meadow.description %></span>
  <span class="timestamp">Created <%= time_ago_in_words(meadow.created_at) %> ago</span>
  <span class="user">
    <%= link_to meadow.user.name, meadow.user %>
  </span>
  <span><%= link_to 'Show', meadow %></span>
</tr>
