<p id="notice"><%= notice %></p>

<h1>Meadows</h1>

<%= will_paginate %>

<div>
  <div>
      <span>Name</span>
      <span>Description</span>
  </div>

  <div class="meadows">
    <%= render @meadows %>
  </div>
</div>

<%= will_paginate %>

<%= link_to 'New Meadow', new_meadow_path %>
