<p id="notice"><%= notice %></p>

<h1>
  <%= @meadow.name %>
</h1>

<p>
  <%= @meadow.description %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_meadow_path(@meadow) %> |
<% end %>
<%= link_to 'Back', meadows_path %>
